@model Test.Models.Pasta
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Test.Models.Pasta> list = ViewBag.List;
}

@using (Html.BeginForm("CreatePasta", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h2>Create new Pasta</h2>
        <hr />
        <div>
            @Html.LabelFor(model => model.AuthorName)
            <div>
                @Html.TextBoxFor(model => model.AuthorName)
                @Html.ValidationMessageFor(model => model.AuthorName)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Text)
            <div>
                @Html.TextAreaFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Status)
            <div>
                <select name="status">
                    <option value="0">Public</option>
                    <option value="1">Unlisted</option>
                </select>
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Time)
            <div>
                <select name="time">
                    <option value="10M">10 minutes</option>
                    <option value="1D">1 days</option>
                    <option value="1M">1 month</option>
                    <option value="Always">Always</option>
                </select>
            </div>
        </div>
        <div>
            <input type="submit" value="Send" />
        </div>
    </div>
}
    <div>
        <p>Last pastas</p>
        @for (int i = 0; i < 10; i++)
        {
            <p>@Html.ActionLink(list[i].AuthorName, "IndexPasta", new { hash = list[i].Hash })</p>
        }
    </div>