@model Test.Models.Pasta
@{
    ViewBag.Title = "IndexPasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pasta</h2>
<form method="get">
    <input type="hidden" value="@ViewBag.PastaHash" name="PastaHash"/>
    <dt>
        @Html.DisplayNameFor(model => model.AuthorName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AuthorName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Text)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Text)
    </dd>
</form>
<hr />
<p>@Html.ActionLink("Обратно", "Index")</p>

